@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  body {
    background-image: url("./images/tree-home-transparent.png");
    background-repeat: repeat-x;
    background-position: bottom 5px center;
    background-size: 30% auto;
    background-attachment: fixed;
 }

  .react-calendar__viewContainer {

  }

  .react-calendar__month-view {  /* container */
    display: flex;
    grid-template-columns: minmax(30px, 5fr) 25fr;
  }

  .react-calendar__month-view__weekdays {

  }



  /* div.react-calendar.container {
    /* width: 350px; */
    /* max-width: 100%; */
    /* background: white; */
    /* border: none; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* line-height: 1.125em; */



}

 /* .react-calendar {
    max-width: 100%;
  } */

  /* .react-calendar__tile {
    max-width: 14vw;
    height: 14vw;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    min-width: 100px;
    min-height: 100px;
  } */
