@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .profileBg {
    background-image: url("./images/tree-home-transparent.png");
    background-repeat: repeat-x;
    background-position: bottom 5px center;
    background-size: 20% auto;
    background-attachment: fixed;
  }

  .reactCalendar {
    background: white;
    line-height: 2em;
    outline: 1px solid black;
  }

  .react-calendar__tile {
    height: 100px;
    width: 70px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 4px;
  }

  @media (max-width: 600px) {
    .react-calendar__tile {
      height: 85px;
    }
  }

  button.react-calendar__tile {
    outline: 1px solid grey;
  }

  .fit-height {
    height: fit-content;
  }
}
